@charset "UTF-8";
* {
  z-index: 1;
}
body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
body > * {
  min-width: 8.33333333%;
}
nav {
  width: 100%;
  min-height: 30px;
}
.container {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 100%;
}
.container > * {
  min-width: 8.33333333%;
  flex-grow: 1;
}
.container.max-width {
  width: 100%;
  max-width: none;
}
.window {
  display: block;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: auto;
  flex-grow: 1;
}
.is-1 {
  width: 8.33333333%;
}
.is-2 {
  width: 16.66666667%;
}
.is-3 {
  width: 25%;
}
.is-4 {
  width: 33.33333333%;
}
.is-5 {
  width: 41.66666667%;
}
.is-6 {
  width: 50%;
}
.is-7 {
  width: 58.33333333%;
}
.is-8 {
  width: 66.66666667%;
}
.is-9 {
  width: 75%;
}
.is-10 {
  width: 83.33333333%;
}
.is-11 {
  width: 91.66666667%;
}
.is-12 {
  width: 100%;
}
input.side-menu[type=checkbox] {
  display: none;
}
input.side-menu[type=checkbox] + div {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  rigth: none;
  min-width: 200px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s ease-in-out;
}
input.side-menu[type=checkbox] + div div {
  min-height: 30px;
  margin-bottom: 1px;
}
input.side-menu[type=checkbox]:checked + div {
  transform: translate3d(0, 0, 0) !important;
}
input.side-menu[type=checkbox].side-menu-right + div {
  left: auto;
  right: 0;
  transform: translate3d(100%, 0, 0);
}
input.side-menu[type=checkbox].side-menu-fixed + div {
  position: relative;
  transform: translate3d(0, 0, 0) !important;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
  input.side-menu[type=checkbox].side-menu-sm-fixed + div {
    position: relative;
    transform: translate3d(0, 0, 0) !important;
  }
  .is-sm-1 {
    width: 8.33333333%;
  }
  .is-sm-2 {
    width: 16.66666667%;
  }
  .is-sm-3 {
    width: 25%;
  }
  .is-sm-4 {
    width: 33.33333333%;
  }
  .is-sm-5 {
    width: 41.66666667%;
  }
  .is-sm-6 {
    width: 50%;
  }
  .is-sm-7 {
    width: 58.33333333%;
  }
  .is-sm-8 {
    width: 66.66666667%;
  }
  .is-sm-9 {
    width: 75%;
  }
  .is-sm-10 {
    width: 83.33333333%;
  }
  .is-sm-11 {
    width: 91.66666667%;
  }
  .is-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 970px;
  }
  input.side-menu[type=checkbox].side-menu-md-fixed + div {
    position: relative;
    transform: translate3d(0, 0, 0) !important;
  }
  .is-md-1 {
    width: 8.33333333%;
  }
  .is-md-2 {
    width: 16.66666667%;
  }
  .is-md-3 {
    width: 25%;
  }
  .is-md-4 {
    width: 33.33333333%;
  }
  .is-md-5 {
    width: 41.66666667%;
  }
  .is-md-6 {
    width: 50%;
  }
  .is-md-7 {
    width: 58.33333333%;
  }
  .is-md-8 {
    width: 66.66666667%;
  }
  .is-md-9 {
    width: 75%;
  }
  .is-md-10 {
    width: 83.33333333%;
  }
  .is-md-11 {
    width: 91.66666667%;
  }
  .is-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  input.side-menu[type=checkbox].side-menu-lg-fixed + div {
    position: relative;
    transform: translate3d(0, 0, 0) !important;
  }
  .is-lg-1 {
    width: 8.33333333%;
  }
  .is-lg-2 {
    width: 16.66666667%;
  }
  .is-lg-3 {
    width: 25%;
  }
  .is-lg-4 {
    width: 33.33333333%;
  }
  .is-lg-5 {
    width: 41.66666667%;
  }
  .is-lg-6 {
    width: 50%;
  }
  .is-lg-7 {
    width: 58.33333333%;
  }
  .is-lg-8 {
    width: 66.66666667%;
  }
  .is-lg-9 {
    width: 75%;
  }
  .is-lg-10 {
    width: 83.33333333%;
  }
  .is-lg-11 {
    width: 91.66666667%;
  }
  .is-lg-12 {
    width: 100%;
  }
}
