@charset "UTF-8";

@xs-container-width: 100%;
@sm-container-width: 750px;
@md-container-width: 970px;
@lg-container-width: 1170px;

@sm-width: 768px;
@md-width: 992px;
@lg-width: 1200px;

* {
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    & > * {
        min-width: 100% / 12;
    }
}

nav {
    width: 100%;
    min-height: 30px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: @xs-container-width;

    & > * {
        min-width: (100% / 12);
        flex-grow: 1;
    }

    &.max-width {
        width: 100%;
        max-width: none;
    }
}

.container_whidth (@w) {
    .container {
        max-width: @w;
    }
}

.window {
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: auto;
    flex-grow: 1;
}

// Sistema de colunas
.gen-columns(-,12);

.gen-columns(@name, @col, @margin: 0%, @index: 1) when (@index <= @col) {
    .is@{name}@{index} {
        width: (@index * (100%-@margin) / @col);
        .set-margin(@margin);
    }

    .gen-columns(@name, @col, @margin, (@index + 1));
}

.set-margin(@margin) when (@margin > 0) {
    margin-left: @margin;
    margin-right: @margin;
}

// Menu lateral
input.side-menu[type=checkbox] {
    display: none;

    & + div {
        z-index: 100;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        rigth: none;
        min-width: 200px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translate3d(-100%, 0, 0);
        transition: transform .5s ease-in-out;

        div {
            min-height: 30px;
            margin-bottom: 1px;
        }
    }

    &:checked + div {
        transform: translate3d(0, 0, 0) !important;
    }

    &.side-menu-right + div {
        left: auto;
        right: 0;
        transform: translate3d(100%, 0, 0);
    }
}

.set-side-menu-fixed(-);

.set-side-menu-fixed(@name) {
    input.side-menu[type=checkbox].side-menu@{name}fixed + div {
        position: relative;
        transform: translate3d(0, 0, 0) !important;
    }
}

@media screen and (min-width: @sm-width) {
    .container_whidth(@sm-container-width);
    .set-side-menu-fixed(-sm-);
    .gen-columns(-sm-,12);
}

@media screen and (min-width: @md-width) {
    .container_whidth(@md-container-width);
    .set-side-menu-fixed(-md-);
    .gen-columns(-md-,12);
}

@media screen and (min-width: @lg-width) {
    .container_whidth(@lg-container-width);
    .set-side-menu-fixed(-lg-);
    .gen-columns(-lg-,12);
}
