.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #000;
  font-family: brandon-grotesque, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Emblema, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Emblema, sans-serif;
  font-size: 3em;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Emblema, sans-serif;
  font-size: 1.3em;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  font-family: Emblema, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-weight: 400;
}

a {
  font-family: Emblema, sans-serif;
  text-decoration: underline;
}

blockquote {
  margin-bottom: 0px;
  padding: 0px;
  border-left: 5px none #e2e2e2;
  font-size: 18px;
  line-height: 22px;
  text-transform: none;
}

.main {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.branco {
  width: 100%;
  height: 100%;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  background-color: #fff;
  color: #000;
}

.nav-link {
  padding: 1em 1.5em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link.on-dark {
  color: #fff;
}

.nav-link._2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.875em;
}

.espaco-section {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 2fr 2fr 6fr 1fr 8fr 1fr 2fr 0.15em 6fr 4fr;
  grid-template-columns: 2fr 2fr 6fr 1fr 8fr 1fr 2fr 0.15em 6fr 4fr;
  -ms-grid-rows: 4em auto 18em 0.15em 12em 8em 0.15em;
  grid-template-rows: 4em auto 18em 0.15em 12em 8em 0.15em;
  border-right: 0.15em solid #fff;
  border-left: 0.15em solid #fff;
}

.tickets-link {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 2em;
  padding-left: 2em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.espaco-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 0.15em 1fr 3fr 0.15em;
  grid-template-columns: 0.15em 1fr 3fr 0.15em;
  -ms-grid-rows: 0.15em 3fr 2fr 0.15em;
  grid-template-rows: 0.15em 3fr 2fr 0.15em;
  background-color: #000;
}

.speaker-info {
  overflow: hidden;
  padding: 12.5% 12.5% 12.5% 25%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
}

.speaker-info.on-light {
  color: #000;
}

.speaker-photo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 3;
  -webkit-flex: 3 60%;
  -ms-flex: 3 60%;
  flex: 3 60%;
  -webkit-transition: -webkit-filter 200ms ease;
  transition: -webkit-filter 200ms ease;
  transition: filter 200ms ease;
  transition: filter 200ms ease, -webkit-filter 200ms ease;
}

.speaker-photo:hover {
  -webkit-filter: none;
  filter: none;
}

.all-borders {
  border: 0.15em solid #fff;
}

.no-border-top {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  border-style: none solid solid;
  border-width: 0.3em;
  border-color: #000;
}

.border-bottom-only {
  border-style: none none solid;
  border-width: 0.3em;
  border-color: #000;
}

.border-left-bottom {
  border-style: none none solid solid;
  border-width: 0.3em;
  border-color: #000;
}

.armazem-original-section {
  position: relative;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 2fr 4fr 0.15em 4fr 18fr 0.15em 4fr;
  grid-template-columns: 2fr 4fr 0.15em 4fr 18fr 0.15em 4fr;
  -ms-grid-rows: auto auto auto 0.15em 15em 0.15em;
  grid-template-rows: auto auto auto 0.15em 15em 0.15em;
  border-right: 0.15em solid #fff;
  border-left: 0.15em solid #fff;
}

.circle-wrapper {
  position: relative;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.circle-wrapper.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 9em;
  z-index: 1;
  margin-left: 0em;
  padding-top: 12em;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

.line-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.vertical-line {
  min-height: 0.5em;
  -webkit-box-flex: 2em;
  -webkit-flex: 2em;
  -ms-flex: 2em;
  flex: 2em;
  background-color: #000;
}

.circle-holder {
  overflow: hidden;
  border-radius: 50%;
}

.circle {
  width: 100%;
  padding-top: 100%;
}

.circle-bg-image {
  width: 100%;
  margin-top: -100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #712220;
  background-image: url('../images/Men-Left-3.svg');
  background-position: 50% -40%;
  background-size: 200px;
  background-repeat: no-repeat;
}

.accordion-wrapper {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 1em;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

.accordion-item {
  margin-bottom: 1em;
  padding: 1em 3.5em 1em 1em;
}

.armazem-original-header {
  position: relative;
  z-index: 1;
  padding-top: 12em;
  padding-bottom: 2.5em;
  padding-left: 5.75em;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.accordion-header {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.accordion-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3.75em;
  padding-top: 2em;
  padding-right: 3.75em;
  padding-bottom: 1em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom: 0.3em solid #000;
}

.accordion-arrow {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin-left: auto;
  padding: 0.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.15em solid #fff;
}

.accordion-subhead {
  font-family: brandon-grotesque, sans-serif;
  font-size: 0.75em;
}

.top-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3.75em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
}

.bottom-header {
  padding-left: 3.75em;
}

.accordion-content-wrapper {
  overflow: hidden;
}

.border-left-only {
  border-style: none none none solid;
  border-width: 0.3em;
  border-color: #000;
}

.block-quote {
  display: none;
  font-size: 1.25em;
  line-height: 1.2;
  font-weight: 400;
}

.fas {
  position: relative;
}

.conveniencias {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80vw;
  -ms-flex: 0 0 80vw;
  flex: 0 0 80vw;
}

.conveniencia {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 30%;
  -webkit-flex: 30%;
  -ms-flex: 30%;
  flex: 30%;
  font-size: 1.5em;
}

.estilos-section {
  padding: 5em;
}

.estilo-wrapper {
  padding: 3em;
}

.estilo-title {
  padding-bottom: 1em;
}

.min-height-border {
  min-height: 2em;
}

.operacao-logo-wrapper {
  margin-bottom: 1em;
  padding: 1em;
}

.operacao-logo-wrapper.all-borders {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 96px;
  height: 96px;
  margin-right: 2em;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.operacao-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -0.375em;
  margin-left: -0.375em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.operacao-action {
  display: block;
  height: 2em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  padding: 0.25em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  color: #fff;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.operacao-action:hover {
  background-color: #000;
  color: #fff;
}

.accordion-text {
  font-size: 0.9em;
}

.accordion-section {
  margin-bottom: 1em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.accordion-section.span-all {
  margin-left: 0em;
  float: left;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.accordion-text-link {
  font-family: brandon-grotesque, sans-serif;
  color: #fff;
  font-size: 0.9em;
}

.featured-image {
  max-width: 85%;
}

.accordion-arrow-bg {
  position: absolute;
  left: -0.2em;
  top: -0.2em;
  right: -0.2em;
  bottom: -0.2em;
  overflow: hidden;
  background-color: #fff;
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

.vertical-grid-line {
  min-width: 1px;
  background-color: #000;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.horizontal-grid-line {
  min-height: 1px;
  background-color: #000;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.tickets-link-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
}

.tickets-link-text {
  position: relative;
}

.light-line {
  background-color: #fff;
}

.animation-holder {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 100vh;
  padding-top: 52.94%;
}

.temporary-animation-container {
  width: 75%;
  padding: 20px;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.fix-padding-animation {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.anim-layer-1 {
  display: none;
  overflow: hidden;
}

.layer-1-title {
  text-align: center;
}

.plant-left-1 {
  position: absolute;
  left: 5%;
  bottom: -20%;
  width: 25%;
}

.woman-left-1 {
  position: absolute;
  left: -12%;
  bottom: -30%;
  width: 30%;
}

.plant-right-1 {
  position: absolute;
  top: -36%;
  right: -17%;
  width: 40%;
}

.woman-right-1 {
  position: absolute;
  right: -5%;
  bottom: 0%;
  width: 30%;
}

.transition-1 {
  position: absolute;
  left: 0%;
  top: -90%;
  width: 50%;
}

.anim-layer-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: #1a573b;
}

.layer-2-left {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.layer-2-right {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.women-left-2 {
  position: absolute;
  left: -50%;
  bottom: -40%;
  width: 150%;
}

.plant-left-2 {
  position: absolute;
  right: -27%;
  bottom: -60%;
  width: 80%;
}

.transition-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #712220;
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

.anim-layer-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
}

.layer-3-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.layer-3-title-logo {
  margin-top: -3%;
  padding-right: 9%;
  padding-left: 9%;
}

.layer-3-title-te-vejo-no {
  position: relative;
}

.layer-3-left {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 30%;
}

.layer-3-right {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 30%;
}

.anim-layer-4 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
}

.layer-4-top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.layer-4-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.layer-4-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #712220;
}

.layer-1-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #712220;
}

.layer-1-content {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.layer-2-content {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.layer-2-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #eae2d2;
}

.em-breve-wrapper-2 {
  position: relative;
  width: 40%;
  margin-top: 3em;
}

.em-breve-flower {
  display: none;
}

.em-breve-text {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
}

.title-wrapper-2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  margin-bottom: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.layer-3-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #1a573b;
}

.layer-3-content {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.men-left-3 {
  position: absolute;
  left: -20%;
  bottom: -35%;
  width: 100%;
}

.plant-left-3 {
  position: absolute;
  left: -40%;
  bottom: 10%;
  width: 100%;
}

.people-right-3 {
  position: absolute;
  right: -50%;
  bottom: -30%;
  width: 150%;
}

.plant-right-3 {
  position: absolute;
  right: -35%;
  bottom: 40%;
  width: 70%;
}

.layer-4-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fdbc36;
}

.layer-4-content {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.plant-top-4 {
  position: absolute;
  top: -60%;
  right: 10%;
  width: 40%;
}

.plant-left-4-front {
  position: absolute;
  left: -2%;
  bottom: -17%;
  z-index: 1;
  width: 25%;
}

.plant-left-4-back {
  position: absolute;
  left: 5%;
  bottom: -50%;
  width: 30%;
}

.layer-1-bg-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #712220;
}

.layer-2-bg-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #eae2d2;
}

.layer-4-center-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #712220;
}

.layer-4-bg-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fdbc36;
}

.transition-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #712220;
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

.layer-3-bg-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #1a573b;
}

.fixed-navbar-desktop {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 900;
}

.navbar-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.animation-wrapper {
  position: fixed;
  width: 100%;
}

.body {
  background-color: #fff;
}

.div-block-17 {
  height: 50vh;
  border-bottom: 10px solid #000;
}

.menu-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-right: 0.15em solid #fff;
  border-bottom: 0.15em solid #fff;
}

.nav-logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em 1em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #020203;
  font-size: 12px;
}

.nav-logo-mercado {
  padding: 0.25em 1em;
}

.nav-logo-da-torre {
  padding: 0.25em 1em;
}

.image-3 {
  height: 2em;
}

.image-4 {
  height: 2em;
}

.nav-more-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #020203;
  color: #fff;
  text-decoration: none;
}

.nav-links-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #020203;
}

.nav-links-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.nav-icon-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.5em;
  height: 1.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.front-layer {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  margin-top: 100vh;
  background-color: #020203;
}

.gallery-section {
  padding-top: 12em;
  padding-bottom: 12em;
  border-bottom: 0.15em solid #fff;
}

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -1.5em;
  margin-left: -1.5em;
  padding-right: 5em;
  padding-left: 5em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.gallery-item-wrapper {
  padding: 1.5em;
  -webkit-box-flex: 30%;
  -webkit-flex: 30%;
  -ms-flex: 30%;
  flex: 30%;
  border: 1px solid #000;
}

.gallery-lightbox-link {
  position: relative;
  width: 100%;
  height: 320px;
  max-height: 400px;
  border: 0.15em solid #000;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.gallery-lightbox-link:hover {
  border-color: #fff;
}

.gallery-image {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.hero-section-3 {
  position: relative;
  margin-bottom: -2.5em;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 2fr 18fr 0.15em 2fr 0.15em 6fr 0.15em 4fr;
  grid-template-columns: 2fr 18fr 0.15em 2fr 0.15em 6fr 0.15em 4fr;
  -ms-grid-rows: 12em 0.15em 1fr 0.15em 1fr 1fr 0.15em 2.5em 0.15em 2.5em 0.15em;
  grid-template-rows: 12em 0.15em 1fr 0.15em 1fr 1fr 0.15em 2.5em 0.15em 2.5em 0.15em;
}

.div-block-20 {
  overflow: hidden;
  padding-bottom: 2.5em;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

.div-block-21 {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-22 {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.top-marker {
  height: 0px;
}

.text-span {
  color: #fff;
  text-decoration: underline;
}

.footer-icons {
  margin-top: 30px;
  margin-right: 20px;
  float: left;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #232931;
  font-size: 18px;
}

.footer-icons:hover {
  color: #fff;
}

.copywrite-footer-text {
  max-width: 490px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 29px;
  text-decoration: none;
}

.footer-6-paragraph-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 23px;
  line-height: 35px;
  font-weight: 600;
}

.footer-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  padding-right: 55px;
  padding-left: 55px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-copywrite {
  display: block;
  max-width: 1440px;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column-nospace {
  padding-right: 0px;
  padding-left: 0px;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

.footer-6-sub-heading {
  margin-bottom: 25px;
  font-size: 16px;
  letter-spacing: 1px;
}

.footer-6-paragraph {
  max-width: 490px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 29px;
}

.footer-6-container {
  position: relative;
  z-index: 99;
  display: block;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.conveniencias-section {
  margin-bottom: 4em;
  padding-bottom: 4em;
  border-bottom: 0.15em solid #fff;
}

.container {
  position: relative;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
}

.conveniencias-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-left: 2em;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.conveniencias-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 20%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.conveniencias-content {
  padding-left: 20%;
}

.footer {
  min-height: 100vh;
  padding-top: 12em;
}

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -1em;
  margin-left: -1em;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 2em;
  line-height: 1;
  text-decoration: none;
}

.social-link-caption {
  padding-left: 0.5em;
  font-size: 0.65em;
}

.heading {
  line-height: 1.5;
  text-align: right;
}

.copyright-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-img {
  margin-bottom: 2em;
}

.footer-horarios {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-horario {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3em;
  padding-bottom: 0em;
}

.copyright-text {
  font-size: 0.75em;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.5em;
  height: 2.5em;
  margin-left: 2em;
  padding: 0.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.15em solid #fff;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -1em;
  margin-bottom: 0px;
  margin-left: -1em;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 0.0375em solid #fff;
  font-size: 1.5em;
}

.conveniencia-item {
  padding: 0.5em 1em;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  border: 0.0375em solid #fff;
  text-align: center;
}

.div-block-41 {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  overflow: hidden;
  width: 20%;
  margin-bottom: -4em;
}

.image-8 {
  height: 100%;
  margin-bottom: -20%;
  margin-left: -10%;
}

.gallery-caption-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 2em;
  margin-right: -0.15em;
  margin-bottom: -0.15em;
  margin-left: -0.15em;
  padding: 0.5em;
  background-color: #020203;
}

.gallery-caption {
  color: #fff;
  line-height: 1;
}

.horario-text {
  text-transform: none;
}

.horario-number {
  padding-left: 0.5em;
}

.div-block-42 {
  max-width: 390px;
  margin-bottom: 1em;
}

.heading-2 {
  letter-spacing: 0.1em;
}

.div-block-43 {
  border-bottom: 0.15em solid #fff;
}

.slider {
  min-height: 800px;
  background-color: transparent;
}

.slide-nav {
  display: none;
}

.map-holder {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  display: none;
  padding: 4.1em;
  background-color: #020203;
}

.map {
  width: 100%;
  height: 100%;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
  color: #020203;
}

.close-map {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
}

.map-mdt {
  width: 100%;
  height: 80vh;
}

.simple-link {
  color: #fff;
}

.fixed-navbar-mobile {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 900;
  display: none;
}

.nav-links-wrapper-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #020203;
}

.nav-links-holder-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.nav-links-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.875em;
}

.menu-left-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-right: 0.15em solid #fff;
  border-bottom: 0.15em solid #fff;
}

.nav-more-info-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #020203;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 991px) {
  .espaco-section {
    -ms-grid-columns: 1fr 2fr 6fr 0.5fr 8fr 0.5fr 2fr 0.15em 6fr 1fr;
    grid-template-columns: 1fr 2fr 6fr 0.5fr 8fr 0.5fr 2fr 0.15em 6fr 1fr;
    -ms-grid-rows: 4em auto 12em 0.15em 12em 4em 0.15em;
    grid-template-rows: 4em auto 12em 0.15em 12em 4em 0.15em;
  }
  .espaco-wrapper {
    -ms-grid-rows: 0.15em 2fr 2fr 0.15em;
    grid-template-rows: 0.15em 2fr 2fr 0.15em;
  }
  .speaker-info.on-light {
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
  }
  .circle-bg-image {
    background-size: 128px;
  }
  .accordion-item {
    padding-right: 1em;
  }
  .armazem-original-header {
    padding-right: 7.5em;
    padding-left: 2em;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
  .accordion-content {
    margin-left: 1em;
    padding-right: 1em;
  }
  .top-header {
    padding-left: 1em;
  }
  .bottom-header {
    padding-left: 1em;
  }
  .featured-image {
    max-width: 60%;
  }
  .animation-holder {
    height: 480px;
  }
  .fixed-navbar-desktop {
    display: none;
  }
  .animation-wrapper {
    margin-top: 4em;
  }
  .front-layer {
    margin-top: 544px;
  }
  .gallery-section {
    padding-top: 6em;
    padding-bottom: 6em;
  }
  .gallery {
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
  }
  .gallery-item-wrapper {
    padding: 0.5em;
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
  .gallery-lightbox-link {
    height: 240px;
  }
  .gallery-lightbox-link:hover {
    border-color: #020203;
  }
  .hero-section-3 {
    -ms-grid-columns: 1fr 20fr 0.15em 4.5fr 0.15em 6fr 0.15em 3fr;
    grid-template-columns: 1fr 20fr 0.15em 4.5fr 0.15em 6fr 0.15em 3fr;
    -ms-grid-rows: 6em 0.15em 1fr 0.15em 1fr 1fr 0.15em 2.5em 0.15em 2.5em 0.15em;
    grid-template-rows: 6em 0.15em 1fr 0.15em 1fr 1fr 0.15em 2.5em 0.15em 2.5em 0.15em;
  }
  .image-5 {
    margin-bottom: 0px;
  }
  .image-6 {
    max-width: 60%;
  }
  .image-7 {
    max-width: 60%;
  }
  .footer-6 {
    padding-right: 25px;
    padding-left: 25px;
  }
  .conveniencias-section {
    padding-right: 1em;
  }
  .conveniencias-header {
    padding-left: 30%;
  }
  .conveniencias-content {
    padding-left: 30%;
  }
  .list {
    font-size: 1em;
  }
  .div-block-41 {
    width: 30%;
  }
  .heading-2 {
    text-align: center;
  }
  .slider {
    min-height: 540px;
  }
  .right-arrow {
    left: auto;
    top: auto;
    right: 0px;
    bottom: -48px;
    width: 56px;
    height: 48px;
  }
  .left-arrow {
    left: 0px;
    top: auto;
    right: auto;
    bottom: -48px;
    width: 56px;
    height: 48px;
  }
  .fixed-navbar-mobile {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: block;
  }
  .nav-links-wrapper-mobile {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: auto;
    display: none;
    padding: 5.5em 1.5em 1.5em;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-style: none solid solid none;
    border-width: 0.15em;
    border-color: #fff;
  }
  .nav-links-holder-mobile {
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .nav-links-mobile {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .menu-left-mobile {
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #020203;
  }
}

@media (max-width: 767px) {
  .espaco-section {
    grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . .";
    -ms-grid-columns: 2em 10em 0.15em 1fr 2em;
    grid-template-columns: 2em 10em 0.15em 1fr 2em;
    -ms-grid-rows: 4em 4em 8em 1em 8em 1em 8em 4em 0.15em;
    grid-template-rows: 4em 4em 8em 1em 8em 1em 8em 4em 0.15em;
  }
  .espaco-wrapper {
    grid-template-areas: ". . . . ." ". . . . ." ". . . . .";
    -ms-grid-columns: 0.15em 10em 0.15em 1fr 0.15em;
    grid-template-columns: 0.15em 10em 0.15em 1fr 0.15em;
    -ms-grid-rows: 0.15em 1fr 0.15em;
    grid-template-rows: 0.15em 1fr 0.15em;
  }
  .speaker-info.on-light {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .circle-bg-image {
    background-size: 64px;
  }
  .animation-holder {
    height: 400px;
  }
  .front-layer {
    margin-top: 464px;
  }
  .gallery-item-wrapper {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .hero-section-3 {
    margin-bottom: -6em;
    grid-template-areas: ". . . . . . . ." ". . . . . . . ." ". . . . . . . ." ". . . . . . . ." ". . . . . . . ." ". . . . . . . ." ". . . . . . . ." ". . . . . . . ." ". . . . . . . .";
    -ms-grid-columns: 2em 0.15em 2em 0.15em 4fr 0.15em 1fr 2fr;
    grid-template-columns: 2em 0.15em 2em 0.15em 4fr 0.15em 1fr 2fr;
    -ms-grid-rows: 4em auto auto 0.15em 2em 0.15em 2em 0.15em 4em;
    grid-template-rows: 4em auto auto 0.15em 2em 0.15em 2em 0.15em 4em;
  }
  .div-block-19 {
    padding: 2em;
  }
  .div-block-20 {
    padding-bottom: 0em;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
  .footer-6-paragraph-2 {
    margin-top: 10px;
  }
  .footer-6 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .social-wrapper {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .social-link {
    padding-top: 0em;
  }
  .heading {
    text-align: center;
  }
  .copyright-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-img {
    margin-bottom: 0em;
  }
  .footer-horarios {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .footer-horario {
    padding-right: 0em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
  }
  .link-block {
    margin-bottom: 2em;
    margin-left: 0em;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .horario-text {
    margin-bottom: 0em;
  }
  .horario-number {
    line-height: 1.5;
  }
  .slider {
    min-height: 800px;
  }
  .image-9 {
    height: 81px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 24px;
    line-height: 1.15;
  }
  h2 {
    font-size: 1.75em;
  }
  .espaco-section {
    -ms-grid-columns: 1em 6em 0.15em 1fr 1em;
    grid-template-columns: 1em 6em 0.15em 1fr 1em;
    -ms-grid-rows: 4em 4em 8em 1em 8em 1em 8em 4em 0.15em;
    grid-template-rows: 4em 4em 8em 1em 8em 1em 8em 4em 0.15em;
  }
  .espaco-wrapper {
    -ms-grid-columns: 0.15em 6em 0.15em 1fr 0.15em;
    grid-template-columns: 0.15em 6em 0.15em 1fr 0.15em;
  }
  .armazem-original-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .circle-wrapper.sticky {
    top: 0em;
    width: 224px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1em;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
  .line-wrapper {
    display: none;
  }
  .circle-bg-image {
    background-size: 168px;
  }
  .accordion-wrapper {
    padding-top: 2.5em;
    padding-left: 0em;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .accordion-item {
    margin-bottom: 0em;
  }
  .armazem-original-header {
    padding-top: 2.5em;
    padding-right: 1em;
    padding-left: 1em;
  }
  .accordion-content {
    margin-left: 0em;
    padding-right: 0em;
    font-size: 14px;
  }
  .top-header {
    padding-left: 0em;
  }
  .bottom-header {
    padding-left: 0em;
  }
  .animation-holder {
    height: 320px;
  }
  .front-layer {
    margin-top: 384px;
  }
  .gallery {
    padding-right: 0em;
    padding-left: 0em;
  }
  .gallery-item-wrapper {
    padding: 0.25em;
    -webkit-flex-basis: 48%;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }
  .gallery-lightbox-link {
    height: 160px;
  }
  .hero-section-3 {
    -ms-grid-columns: 1em 0.15em 2em 0.15em 2fr 0.15em 1fr 2fr;
    grid-template-columns: 1em 0.15em 2em 0.15em 2fr 0.15em 1fr 2fr;
    -ms-grid-rows: 4em minmax(4em, auto) minmax(4em, auto) 0.15em 2em 0.15em 2em 0.15em 4em;
    grid-template-rows: 4em minmax(4em, auto) minmax(4em, auto) 0.15em 2em 0.15em 2em 0.15em 4em;
  }
  .div-block-19 {
    padding: 1em;
  }
  .footer-6-paragraph-2 {
    line-height: 30px;
  }
  .conveniencias-section {
    padding-bottom: 12em;
    padding-left: 1em;
  }
  .container {
    height: 100%;
  }
  .conveniencias-header {
    padding-bottom: 2em;
    padding-left: 0%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .conveniencias-content {
    padding-left: 0%;
  }
  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 6em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .social-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .heading {
    text-align: left;
  }
  .footer-horarios {
    padding-top: 2em;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .link-block {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .div-block-41 {
    bottom: -8em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 12em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-8 {
    margin-left: 0%;
  }
  .slider {
    min-height: 550px;
  }
  .slide-nav {
    left: 56px;
    top: auto;
    right: 56px;
    bottom: -48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .right-arrow {
    left: auto;
    top: auto;
    right: 0%;
    bottom: -48px;
    width: 56px;
    height: 48px;
  }
  .left-arrow {
    left: 0%;
    top: auto;
    right: auto;
    bottom: -48px;
    width: 56px;
    height: 48px;
  }
}

#w-node-a017921b1977-921b1977 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-781acffa86e2-31a31bed {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 3;
  grid-column-end: 9;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 10;
  grid-row-end: 11;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

@media screen and (max-width: 767px) {
  #w-node-781acffa86e2-31a31bed {
    -ms-grid-column: 8;
    grid-column-start: 8;
    -ms-grid-column-span: 1;
    grid-column-end: 9;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 3;
    grid-row-end: 6;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

#w-node-719da58cc39e-31a31bed {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 3;
  grid-row-end: 11;
}

@media screen and (max-width: 767px) {
  #w-node-719da58cc39e-31a31bed {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 3;
    grid-column-end: 6;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 3;
    grid-row-end: 8;
  }
}

#w-node-719da58cc3a8-31a31bed {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 7;
  grid-row-end: 8;
}

@media screen and (max-width: 767px) {
  #w-node-719da58cc3a8-31a31bed {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 4;
    grid-row-end: 5;
  }
}

#w-node-719da58cc3aa-31a31bed {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 5;
  grid-row-end: 12;
}

@media screen and (max-width: 767px) {
  #w-node-719da58cc3aa-31a31bed {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 5;
    grid-row-end: 9;
  }
}

#w-node-719da58cc3ab-31a31bed {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 1;
  grid-column-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 5;
  grid-row-end: 12;
}

@media screen and (max-width: 767px) {
  #w-node-719da58cc3ab-31a31bed {
    -ms-grid-column: 6;
    grid-column-start: 6;
    -ms-grid-column-span: 1;
    grid-column-end: 7;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 5;
    grid-row-end: 9;
  }
}

#w-node-719da58cc3af-31a31bed {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 5;
  grid-column-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

@media screen and (max-width: 767px) {
  #w-node-719da58cc3af-31a31bed {
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 5;
    grid-column-end: 7;
  }
}

#w-node-719da58cc3b0-31a31bed {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 5;
  grid-column-end: 8;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
}

@media screen and (max-width: 767px) {
  #w-node-719da58cc3b0-31a31bed {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }
}

#w-node-719da58cc3b1-31a31bed {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 2;
  grid-column-end: 9;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

@media screen and (max-width: 767px) {
  #w-node-719da58cc3b1-31a31bed {
    -ms-grid-column: 6;
    grid-column-start: 6;
    -ms-grid-column-span: 3;
    grid-column-end: 9;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }
}

#w-node-719da58cc3b2-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

@media screen and (max-width: 767px) {
  #w-node-719da58cc3b2-31a31bed {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 5;
    grid-column-end: 7;
    -ms-grid-row: 8;
    grid-row-start: 8;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
  }
}

#w-node-ce16b72d02c7-31a31bed {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 5;
  grid-row-end: 8;
}

@media screen and (max-width: 767px) {
  #w-node-ce16b72d02c7-31a31bed {
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 4;
    grid-column-end: 9;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-30738134a7a1-31a31bed {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 3;
  grid-row-end: 6;
}

@media screen and (max-width: 767px) {
  #w-node-30738134a7a1-31a31bed {
    -ms-grid-column-span: 3;
    grid-column-end: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-30738134a7a1-31a31bed {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 3;
    grid-column-end: 5;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-170935d738d5-31a31bed {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 767px) {
  #w-node-170935d738d5-31a31bed {
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-170935d738d5-31a31bed {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
  }
}

#w-node-448673e898c4-31a31bed {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-448673e898c4-31a31bed {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-448673e898c4-31a31bed {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-448673e898c4-31a31bed {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-7d4fe9589062-31a31bed {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 991px) {
  #w-node-7d4fe9589062-31a31bed {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-7d4fe9589062-31a31bed {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-7d4fe9589062-31a31bed {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-d9444c26a94d-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-5efcbbc734f7-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-941cbee42b00-31a31bed {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

@media screen and (max-width: 767px) {
  #w-node-941cbee42b00-31a31bed {
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 1;
    grid-column-end: 6;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 4;
    grid-row-end: 5;
  }
}

#w-node-08f52d8f1c30-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

@media screen and (max-width: 767px) {
  #w-node-08f52d8f1c30-31a31bed {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 4;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-08f52d8f1c30-31a31bed {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 4;
    grid-row-end: 5;
  }
}

#w-node-ccd97cfe8d4d-31a31bed {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 3;
  grid-row-end: 6;
}

@media screen and (max-width: 767px) {
  #w-node-ccd97cfe8d4d-31a31bed {
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 3;
    grid-column-end: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
}

#w-node-c49c6ccf60fb-31a31bed {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 767px) {
  #w-node-c49c6ccf60fb-31a31bed {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-c49c6ccf60fb-31a31bed {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
  }
}

#w-node-ccd97cfe8d4e-31a31bed {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-ccd97cfe8d4e-31a31bed {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-ccd97cfe8d50-31a31bed {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 767px) {
  #w-node-ccd97cfe8d50-31a31bed {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-ccd97cfe8d57-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-ccd97cfe8d58-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ccd97cfe8d59-31a31bed {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

@media screen and (max-width: 767px) {
  #w-node-ccd97cfe8d59-31a31bed {
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 1;
    grid-column-end: 6;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 4;
    grid-row-end: 5;
  }
}

#w-node-ccd97cfe8d5a-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

#w-node-8ec176e98b9f-31a31bed {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 3;
  grid-row-end: 6;
}

@media screen and (max-width: 767px) {
  #w-node-8ec176e98b9f-31a31bed {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 3;
    grid-column-end: 5;
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
  }
}

#w-node-9b0dc8987424-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 5;
}

@media screen and (max-width: 767px) {
  #w-node-9b0dc8987424-31a31bed {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-9b0dc8987424-31a31bed {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
  }
}

#w-node-8ec176e98ba0-31a31bed {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-8ec176e98ba0-31a31bed {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-8ec176e98ba2-31a31bed {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 991px) {
  #w-node-8ec176e98ba2-31a31bed {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-8ec176e98ba2-31a31bed {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-8ec176e98ba9-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-8ec176e98baa-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-8ec176e98bab-31a31bed {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

@media screen and (max-width: 767px) {
  #w-node-8ec176e98bab-31a31bed {
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 1;
    grid-column-end: 6;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 4;
    grid-row-end: 5;
  }
}

#w-node-8ec176e98bac-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

#w-node-e69e72d006b3-31a31bed {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 1;
  grid-column-end: 9;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-e69e72d006b3-31a31bed {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 9;
    grid-row-end: 10;
  }
}

#w-node-a2a460caab9f-31a31bed {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 1;
  grid-column-end: 9;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 2;
  grid-row-end: 8;
}

@media screen and (max-width: 767px) {
  #w-node-a2a460caab9f-31a31bed {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 9;
    grid-row-end: 10;
  }
}

#w-node-2dabda781a99-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 10;
  grid-column-end: 11;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

@media screen and (max-width: 767px) {
  #w-node-2dabda781a99-31a31bed {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 5;
    grid-column-end: 6;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }
}

#w-node-fe6bc81e7cd7-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 10;
  grid-column-end: 11;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

@media screen and (max-width: 767px) {
  #w-node-fe6bc81e7cd7-31a31bed {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 5;
    grid-column-end: 6;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }
}

#w-node-41c2b2736e49-31a31bed {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 3;
  grid-column-end: 8;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-93acff367349-31a31bed {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
}

#w-node-cd9411ad3a98-31a31bed {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-83fe53e6bd8c-31a31bed {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 4;
  grid-row-end: 6;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

@media screen and (max-width: 991px) {
  #w-node-83fe53e6bd8c-31a31bed {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 2;
    grid-column-end: 6;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 4;
    grid-row-end: 6;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
}

@media screen and (max-width: 479px) {
  #w-node-83fe53e6bd8c-31a31bed {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 2;
    grid-column-end: 6;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 4;
    grid-row-end: 6;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
}

#w-node-351454f35792-31a31bed {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 5;
  grid-row-end: 6;
}

#w-node-427ecb6ba2c4-31a31bed {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 5;
  grid-row-end: 6;
}

#w-node-0f107be39c31-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-3f06c4ca532e-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-c86f1c60db14-31a31bed {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 3;
  grid-row-end: 6;
}

#w-node-1625a0453874-31a31bed {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 2;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a017921b1977-921b1977 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a017921b1977-921b1977 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a017921b1977-921b1977 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@font-face {
  font-family: 'Emblema';
  src: url('../fonts/emblema-15-webfont.woff2') format('woff2'), url('../fonts/emblema-15-webfont.ttf') format('truetype'), url('../fonts/Corradine-Fonts---Emblema-15.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fluido';
  src: url('../fonts/subset-FuturaPT-Heavy.woff2') format('woff2'), url('../fonts/subset-FuturaPT-Heavy.eot') format('embedded-opentype'), url('../fonts/subset-FuturaPT-Heavy.woff') format('woff'), url('../fonts/subset-FuturaPT-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}