/* -------------------------
---------- FOOTER ----------
------------------------- */ 

footer {
	padding-top: 8em;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
}

.footer-illustration-wrapper {
	position: relative;
}

#footerIllustration {
	opacity: 0;
	visibility: hidden;
	transform: translate3d(100vw, 0, 0);
}

#footerIllustration + svg {
	position: absolute;
	top: 0;
	left: 0;
}

footer a {
	text-decoration: none;
}

footer nav {
	width: 100%;
}

footer ul {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	padding: 0;
}

footer li {
	display: flex;
	align-items: center;
	flex: 1 0 auto;
	padding: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

footer li a {
	flex: 1 0 auto;
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace;
	color: #fff;
	color: var(--light-color, #fff);
	padding: .5em 0;
	border-bottom: 4px solid #fff;
	border-bottom: 4px solid var(--light-color, #fff);
	opacity: .6;
	text-align: center;
	position: relative;
}

footer li a:hover,
.footer-credits-wrapper a:hover {
	opacity: 1;
}

.footer-credits-wrapper {
	background-color: rgba(0,0,0,.4);
	color: #fff;
	color: var(--light-color, #fff);
	padding: 2em;
	line-height: 2;
	box-sizing: border-box;
	text-align: center;
	padding-bottom: max(2em, env(safe-area-inset-bottom));
}

.footer-credits {
	color: rgba(255,255,255,.4);
}

.footer-credits-wrapper a {
	padding: .5em 2em;
	margin: 0 -2em;
	color: #fff;
	color: var(--light-color, #fff);
	opacity: .4;
}

#fluido {
	display: inline-block;
	border-bottom: 4px solid #c8102e;
	border-bottom: 4px solid var(--featured-color, #c8102e);
}
/* ----- END FOOTER ----- */ 