/* -------------------------
--------- GENERAL ----------
------------------------- */ 

:root {
	--light-color: #fff;
	--dark-color: #1c1c1c;
	--featured-color: #c8102e;
	--featured-light-color: #d01030;
	--border-transition-duration: 300;
	--fade-in-transition-duration: 1000;
}

html {
	font-family: Verdana, sans-serif;
	background-color: #1c1c1c;
	background-color: var(--dark-color, #1c1c1c);
	background-image: url("https://fluidodesign.bitbucket.io/forneiro/img/forneirobg.jpg");
	user-select: none;
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	outline-color: #c8102e;
	outline-color: var(--featured-color, #c8102e);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
}

h1 {
	font-size: 2em;
	line-height: 1.25;
	margin: 1.5rem 0;
}

h2 {
	font-size: 1.75em;
	line-height: 1.15;
}

.text-center {
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
}

section {
	padding-top: 2em;
	padding-bottom: 2em;
}

.boxed, .fluid {
	padding-left:  1em;
	padding-right: 1em;
	padding-left:  max(1em, env(safe-area-inset-left));
	padding-right: max(1em, env(safe-area-inset-right));
	box-sizing: border-box;
}

.boxed {
	max-width: 70em;
	margin-left: auto;
	margin-right: auto;
}

.light-color {
	color: #fff;
	color: var(--light-color, #fff);
}

.light-bg-color {
	background-color: #fff;
	background-color: var(--light-color, #fff);
}

.dark-color {
	color: #1c1c1c;
	color: var(--dark-color, #1c1c1c);
}

.dark-bg-color {
	background-color: #1c1c1c;
	background-color: var(--dark-color, #1c1c1c);
}

.featured-color {
	color: #c8102e;
	color: var(--featured-color, #c8102e);
}

.featured-bg-color {
	background-color: #c8102e;
	background-color: var(--featured-color, #c8102e);
}

.scrollToTop {
	z-index: 9999;
	border-radius: 100px;
	border: none;
	outline: none;
	color: var(--light-color);
	background: var(--featured-color);
	background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M15 8.25H5.87l4.19-4.19L9 3 3 9l6 6 1.06-1.06-4.19-4.19H15v-1.5z" fill="#fff" /></svg>');
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
	transform: translateY(100px) rotate(90deg);
	font-size: 1.4em;
	width: 56px;
	height: 56px;
	position: fixed;
	bottom: 56px;
	right: 16px;
	opacity: 0;
	visibility: hidden;
}
/* ----- END GENERAL ----- */ 