/* -------------------------
----------- NAV ------------
------------------------- */

#mainNav {
	position: -webkit-sticky;
	position: sticky;
	top: 0; /* requerido para position sticky */
	z-index: 10;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.main-nav-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	height: 4em;
	min-height: 4em;
	padding-left:  env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	box-sizing: border-box;
	background-color: rgba(0,0,0,.7);
}

#navLogoWrapper {
	flex: 0 1 7.5em;
}

.main-nav-wrapper button {
	background-color: transparent;
	padding: 1rem;
	box-sizing: border-box;
	border: none;
	width: 4rem;
	height: 4rem;
}

.main-nav-wrapper button.icon-right {
	background-color: #c8102e;
	background-color: var(--featured-color, #c8102e);
}

.main-nav-wrapper .icon,
#navLogoWrapper {
	opacity: .7;
	cursor: pointer;
}

.main-nav-wrapper .icon:hover,
#navLogoWrapper:hover {
	opacity: 1;
}
/* ----- END NAV ----- */ 