/* -------------------------
--------- SIDEBARS ---------
------------------------- */ 

#leftSidebar,
#rightSidebar {
	background-color: #1c1c1c;
	background-color: var(--dark-color, #1c1c1c);
	padding: 1em;
	padding-left:  max(1em, env(safe-area-inset-left));
	padding-right: max(1em, env(safe-area-inset-right));
	box-sizing: border-box;
}

.sidebar-close-btn {
	padding: 1em;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	margin-bottom: 1em;
	margin-left: -1em;
}

#leftSidebar ul {
	padding: 0;
	list-style: none;
}

#leftSidebar a {
	text-decoration: none;
	color: #fff;
	color: var(--light-color, #fff);
	font-family: 'Courier New', Courier, monospace;
	text-transform: uppercase;
	padding: 1em 0;
	display: block;
}

#rightSidebar {
	width: 100vw;
}
/* ----- END SIDEBARS ----- */ 